# Virtual Environment (Isolate local dependencies)
venv/
.venv/
env/
__pycache__/
*.pyc

# Local Data and Databases (Prevent data leaks)
*.db
*.duckdb
data/processed/*
data/raw/*

# IDE Settings
.vscode/
.DS_Store